body {
	font-family: 'Ubuntu', sans-serif;
}

* {
	outline: none !important;
}
header .container {
	max-width: 1220px;
}
header {
	background-color: #2E2E2E;
	padding-top: 15px;
	padding-bottom: 9px;
}
.descriptor {
	font-family: 'MontserratSemi';
	font-size: 13px;
	color: #fff;
}

.descriptor img {
	margin-left: 5px;
}

.desc {
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
	font-family: 'MontserratSemi';
	margin-right: 50px;
	letter-spacing: -0.7px;
	margin-top: 12px;

}
.logo-text {
color: #ffffff;
font-size: 24px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
font-weight: 500;
}
.logo-text span {
	color: #ffc919;
	font-weight: 700;
}
.phone {
	color: #ffffff !important;
	font-size: 21px;
	font-weight: 500;
	margin-left: -25px;
	margin-top: 5px;
}

.logo {
	text-decoration: none !important;
}

header .btn {
	width: 156px;
	height: 35px;
	border-radius: 30px;
	background-color: #972fe0;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2px;
}

.menu {
	padding: 11px 0;
	background-color: #047c87;
}

.menu ul {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.menu a {
	color: #ffffff;
	font-family: 'MontserratSemi';
	font-size: 15px;
	font-weight: 600;
}

.section-1 {
    position: relative;
    background-image: url(../img/fo2.jpg);
    padding-bottom: 123px;
    background-size: cover;
    overflow: hidden;
}

h1 {
	color: #fff;
	font-size: 58px;
	font-weight: 700;
	text-align: center;
	padding-top: 22px;
	height: 160px;
}

h1 span {
	margin-top: -30px;
	color: #ffdd19;
	font-size: 49px;
	display: block;
	margin-top: 0px;
}
.h1-logo {
	background-image: url(../img/logo_print.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 87px;
	left: 0;
	right: 0;
	text-align: center;
}
.whatss {
	margin-right: 10px;
}
main{
	background-color: #c4c4c4;
	padding-top: 200px;
}
.about-monta {
	padding-top: 150px;
}