body {
	font-family: 'Ubuntu', sans-serif;
}

* {
	outline: none !important;
}
header .container {
	max-width: 1220px;
}
header {
	background-color: #2E2E2E;
	padding-top: 15px;
	padding-bottom: 9px;
}
.descriptor {
	font-family: 'MontserratSemi';
	font-size: 13px;
	color: #fff;
}

.descriptor img {
	margin-left: 5px;
}

.desc {
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
	font-family: 'MontserratSemi';
	margin-right: 50px;
	letter-spacing: -0.7px;
	margin-top: 12px;

}
.logo-text {
color: #ffffff;
font-size: 24px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
font-weight: 500;
}
.logo-text span {
	color: #ffc919;
	font-weight: 700;
}
.phone {
	color: #ffffff !important;
	font-size: 21px;
	font-weight: 500;
	margin-left: -25px;
	margin-top: 5px;
}

.logo {
	text-decoration: none !important;
}

header .btn {
	width: 156px;
	height: 35px;
	border-radius: 30px;
	background-color: #972fe0;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2px;
}

.menu {
	padding: 11px 0;
	background-color: #047c87;
}

.menu ul {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.menu a {
	color: #ffffff;
	font-family: 'MontserratSemi';
	font-size: 15px;
	font-weight: 600;
}

.section-1 {
    position: relative;
    background-image: url(../img/fo2.jpg);
    padding-bottom: 123px;
    background-size: cover;
    overflow: hidden;
}

h1 {
	color: #fff;
	font-size: 58px;
	font-weight: 700;
	text-align: center;
	padding-top: 22px;
	height: 160px;
}

h1 span {
	margin-top: -30px;
	color: #ffdd19;
	font-size: 49px;
	display: block;
	margin-top: 0px;
}
.h1-logo {
	background-image: url(../img/logo_print.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 87px;
	left: 0;
	right: 0;
	text-align: center;
}
.whatss {
	margin-right: 10px;
}
main{
	background-color: #c4c4c4;
	padding-top: 147px;
}
.core-div {
	width: 1020px;
	font-size: 19px;
	font-weight: 700;
	text-align: right;
}
.text-left {
	text-align: left;
	margin-right: 15px;
}
.line-1 {
	margin-bottom: -33px;
}
.line-2 {
	margin-bottom: 40px;
}
.single,
.circle,
.rating,
.znak,
.product,
.anim,
.osanka,
.single2,
.single_fon,
.circle_vid1,
.circle_vid2,
.rew_heart,
.woman,
.strelka{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}
.circle {
	top: 295px;
}
.single {
	top: 250px;
}
.znak {
	top: 200px;
	left: 340px;
}
.rating {
	color: #666666;
	font-size: 15px;
	left: -57px;
	top: 645px;
	overflow: hidden;
}
.text-image {
	position: relative;
	top: -8px;
	left: 29px;
}
.line-right {
	margin-right: -27px;
}
.line-right img {
	margin-right: 13px;
}
.line1 {
	margin-right: 10px;
}
.line2 {
	margin-right: 1px;
}
.old,
.new {
	position: relative;
}
.old {
	transform: rotate(352.05deg);
	color: #7ba8ec;
	font-size: 19px;
	text-decoration: line-through;
	top: -114px;
	left: -51px;
	font-weight: 400;
}
.new {
	transform: rotate(352.05deg);
	font-size: 34px;
	color: #ffffff;
	top: -117px;
	left: -14px;
}
.line-left2 img,
.line-left3 img {
	margin-left: 16px;
}
.line-left1 {
	margin-left: 90px;
}
.price-block {
	position: relative;
	top: 38px;
	left: 5px;
}
.line-left2 {
	margin-left: 29px;
}
.line-left3 {
	margin-left: 40px;
}
main .buttons {
	padding-top: 121px;
	padding-bottom: 62px;
}
.carousel-btn {
	width: 31px;
	height: 31px;
	background: #fff;
	border-radius: 50%;
	position: relative;
	top: -150px;
}
.carousel-circle {
	width: 500px;
	margin: 0 auto;
}
h2{
	text-align: center;
	font-size: 41px;
	font-weight: 700;
}
.about-monta h3 {
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
}
.about-monta p {
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
}
.about-monta {
	background-color: #fff;
}
.product {
	top: 483px;
    left: 348px;
}
.buttons .btn {
    display: block;
    width: 280px;
    height: 55px;
    border-radius: 30px;
    background-color: #972fe0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
    border: none;
	margin-right: 13px;
	margin-left: 16px;
    position: relative;
}
.buttons .btn-orange {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #f58b00;
}
.about-monta .buttons .btn-mini {
	width: 119px;
	height: 37px;
	background-color: #f58b00;
	margin-bottom: 20px;
}
.about-monta .buttons {
	height: 86px;
}
.about-monta {
	padding-top: 2px;
}
.anim {
    top: 1080px;
}
.anim img {
	width: 275px;
}
.line_1 {
	margin-left: -60px;
}
.line_2 {
	margin-right: 42px;
}
.line_2 img {
	margin-right: 30px;
}
.line_3 {
	margin-left: -62px;
}
.line_4 {
	margin-right: -4px;
}
.row_2 {
	padding-top: 28px;
}
.text_1 {
	margin-top: 61px;
}
.line_1 .text-right {
	margin-top: 49px;
}
.line_1 .text-right p {
	margin-right: 37px;
}
.line_3 .text-right {
	margin-top: 16px;
	margin-right: 20px;
}
.text_2 {
	margin-top: 80px;
	margin-left: 25px;
}
.text_3 {
	margin-top: 155px;
}
.line_5 {
	position: relative;
    top: -132px;
	left: 85px;
	margin-bottom: -93px;
}
.about-monta .container .buttons {
	margin-top: 50px;
    padding-bottom: 138px;
}
.operating-priciple {
	background-color: #ebebeb;
}
.operating-priciple h2 {
	margin-bottom: 63px;
	padding-top: 100px;
}
.operating-priciple .text-center {
	margin-top: 26px;
}
.about_1 {
	margin-top: 14px;
}
.about_2 {
	margin-top: 2px;
}
h3 {
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
}
.operating-priciple .buttons {
	margin-top: 86px;
	padding-bottom: 102px;
}
.privilege {
	background-color: #000;
}
.privilege h2 {
	color: #fff;
	padding-top: 105px;
	margin-bottom: 80px;
}
h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	color: #ffffff;
}
.assessment {
	font-size: 19px;
	font-weight: 700;
	margin: 0 auto;
}
.right-os {
	color: #f01d1d;
}
.nonright-os {
	color: #00992c;
}
.right-os,
.nonright-os {
	margin-right: 40px;
}
.pad_ra {
	margin-right: 30px;
}
.pad_le {
	margin-left: 30px;
}
.ab_1 {
	margin-left: -39px;
	margin-bottom: 47px;
}
.ab_2 {
	margin-right: -26px;
	margin-top: -122px;
}
.ab_3 {
	margin-left: -46px;
	margin-bottom: 47px;
}
.ab_4 {
	margin-right: -12px;
	margin-top: -158px;
}
.ab_5 {
	margin-left: -29px;
}
.ab_6 {
	margin-right: -34px;
	margin-top: -131px;
}
.ab_7 {
	margin-right: -25px;
	margin-top: -28px;
}
.osanka {
	position: relative;
	top: -480px;
}
.all_priv {
	height: 500px;
}
.privilege .buttons {
	margin-top: 30px;
	padding-bottom: 105px;
}
.reviews {
	background-image: url(../img/backfon.png);
	background-repeat: no-repeat;
	background-position: 48% 67%;
	height: 920px;
}
.reviews p {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	margin-top: 15px;
}
.reviews h2 {
	padding-top: 95px;
}
.reviews .text-center img {
	margin-top: 10px;
}
.rew_heart {
	position: relative;
	top: -645px;
	width: 600px;
}
.rew_h1 {
	margin-top: -28px;
}
.reviews .carousel-circle {
	position: relative;
	width: 374px;
}
.reviews .carousel-btn {
	top: -442px;
}
.single_fon {
	position: relative;
	top: 45px;
}
.single2 {
	position: relative;
	top: -430px;
}
.carus_fon {
	height: 629px;
}
.video-reviews {
	background-color: #222222;
}
.video-reviews h2 {
	color: #fff;
	padding-top: 100px;
	margin-bottom: 95px;
}
.fancy_v {
	padding: 0 155px;
	margin-bottom: 85px;
}
.video-reviews .buttons .btn-orange {
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	width: 232px;
}
.video-reviews .buttons {
	padding-bottom: 105px;
}
.videos {
	background-color: #d1d2d4;
}
.videos h2 {
	padding-top: 100px;
	margin-bottom: 370px;
}
.circle_vid1,
.circle_vid2 {
	position: relative;
}
.div1 {
	margin-right: 50px;
}
.circle_vid1 {
	top: -290px;
	left: -130px;
}
.circle_vid2 {
	top: -440px;
    left: 115px;
}
.vid1,
.vid2 {
	z-index: 3;
}
.vid_h3 {
	position: relative;
	z-index: 1;
}
.video_cont {
	height: 220px;
}
.videos .buttons {
	padding-bottom: 105px;
}
.how-use h2 {
	padding-top: 100px;
	margin-bottom: 75px;
}
.how-use .text-right {
	margin-right: 25px;
}
.how-use .text-left {
	margin-left: 25px;
}
.how-use p {
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
}
.how
.woman {
	position: relative;
	top: -445px;
}
.block1 {
	margin-left: -20px;
}
.block2 {
	margin-right: -15px;
}
.block3 {
	margin-left: -80px;
}
.block4 {
	margin-right: -50px;
}
.how-use .buttons {
	margin-top: 80px;
	padding-bottom: 105px;
}
.how-buy {
	background-color: #222;
}
.how-buy h2 {
	color: #fff;
	padding-top: 95px;
	margin-bottom: 140px;
}
.how-buy h5 {
	font-size: 28px;
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 25px;
}
.how-buy p {
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
}
.how-buy .buttonss .btn{
	display: block;
    border-radius: 30px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 20px;
    border: none;
	margin-right: 13px;
	margin-left: 16px;
    position: relative;
	border: 2px solid #b066de;
	background-color: #222222;
	color: #b066de;
	font-size: 14px;
	font-weight: 500;
	width: 219px;
	height: 43px;
}
.how-buy .buttonss .btn-ref {
	border: 2px solid #aeaeae;
	color: #aeaeae;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.how-buy .buttonss .btn-wha {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 2px solid #7bcf78;
	color: #7bcf78;
}
.strelka {
	position: relative;
	width: 580px;
    top: -215px;
    left: -15px;
}
.div2 {
	height: 270px;
}
.how-buy .buttonss {
	margin-bottom: 79px;
}
.how-buy .buttons {
	padding-bottom: 100px;
}
.instruction {
	background-color: #d2d3d6;
}
.instruction h2 {
	padding-top: 100px;
	margin-bottom: 30px;
}
.instruction h3 {
	font-size: 22px;
	margin-top: 12px;
}
.instruction p {
	font-size: 17px;
	font-weight: 500;
}
.pic2,
.pic3 {
	margin-top: 15px;
}
.pic5 {
	margin-top: 4px;
} 
.inst_div {
	width: 653px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.instruction .buttons {
	padding-bottom: 100px;
}
.faq h2 {
	padding-top: 100px;
	margin-bottom: 80px;
}
.faq {
	background-color: #bababa;
}
#accordion {
	width: 762px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: none;
	border-radius: 0;
	margin-bottom: 4px;
}
.card-header:first-child {
	border-radius: 0;
}

.card-header {
	height: 72px;
	padding: 0;
	margin-bottom: 0;
	background-color: transparent;
	border-bottom: none;
}
.card-header .btn {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 24.91px;
	text-align: left;
	width: 100%;
	padding-left: 50px;
	padding-top: 12px;
	padding-bottom: 17px;
	text-decoration: none;
	height: 72px;
}
.plus {
	width: 19px;
	height: 19px;
	background-image: url(../img/plus.png);
	background-size: cover;
	display: block;
	position: absolute;
	right: 48px;
	top: 27px;
}
.coll {
	background-image: url(../img/plus.png);
	background-size: cover;
	width: 29px;
	height: 29px;
	background-repeat: no-repeat;
	right: 40px;
	top: 22px;
}
.card-body {
	color: #000000;
	font-weight: 500;
	line-height: 21.81px;
	padding-left: 50px;
	padding-top: 0;
	max-width: 507px;
	font-size: 15px;
}
.faq .buttons {
	padding-bottom: 100px;
}
footer {
	background-color: #222222;
}
.up {
	padding-top: 30px;

}
footer img {
	margin-bottom: 35px;
}
footer a {
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
}
.telefon {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 40px;
	text-decoration: none;
}
footer p {
	font-size: 12px;
	color: #ffffff;
	margin-top: 35px;
	padding-bottom: 25px;
}
footer .buttons {
	width: 1180px;
	margin-left: -37px;
	margin-top: 20px;
}
footer .buttons .btn {
	width: 250px;
}
footer .buttons .btn-green {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #3eb356;
}
footer .btn-green img,
footer .btn-insta img {
	position: absolute;
    left: 40px;
    top: 17px;
}
footer .buttons .btn-insta {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-image: url(../img/insta.png);
	background-size: cover;
}